<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



</head>

<body>

    <div>
        <img src="assets/Pengadu/Image/Ellipse 8.png" class="img-responsive" alt="Image" style="height:600px;">
    </div>
    <div>
        <img src="assets/Pengadu/Image/Logo2.png" class="img-responsive" alt="Image"
            style="height:230px; margin-top:-400px; margin-left:100px;">
    </div>
    <div class="section">

        <div style=" margin-left:-800px;">
            <form action="" role="form" style="border:none;" disini formgrp>



                <div class="col-lg-3 grid-margin stretch-card" style="margin-left:60%;margin-top:-15%; border:none;">
                    <div class="card">
                        <div class="card-body" style="border:none;">
                            <h4 class="card-title">Registrasi</h4>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border: none;">Nama Lengkap <br>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" style="width:200px;"
                                                        formControlName="nama">
                                                </div>
                                            </td>
                                            <td style="border: none;">No Ktp/Sim/Passport <br>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" style="width:200px;"
                                                        formControlName="no_ktp">
                                                </div>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td style="border: none;">Tempat, Tanggal Lahir <br>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" style="width:200px;;"
                                                        formControlName="ttl">
                                                </div>
                                            </td>
                                            <td style="border: none;">Usia <br>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" style="width:200px;"
                                                        formControlName="usia">
                                                </div>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td style="border: none;">Alamat <br>
                                                <div class="form-group">
                                                    <textarea name="" id="" class="form-control"
                                                        formControlName="alamat"
                                                        style="width:200px;height:90px;"></textarea>
                                                </div>

                                            </td>
                                            <td style="border: none;">
                                                Kabupaten / Kota
                                                <div class="form-group">
                                                    <input type="text" class="form-control" style="width:200px;"
                                                        formControlName="kota">
                                                </div><br>
                                                Provinsi
                                                <div class="form-group">
                                                    <input type="text" class="form-control" style="width:200px;"
                                                        formControlName="provinsi">
                                                </div>
                                            </td>


                                        </tr>

                                        <tr>
                                            <td style="border: none;">Pekerjaan <br>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="" id=""
                                                        style="width:200px;" formControlName="pekerjaan">
                                                </div>
                                            </td>
                                            <td style="border: none;">Email <br>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="" id=""
                                                        style="width:200px;" formControlName="email">
                                                </div>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td style="border: none;">Pendidikan <br>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="" id=""
                                                        style="width:200px;" formControlName="pendidikan">
                                                </div>
                                            </td>
                                            <td style="border: none;">Kata Sandi <br>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="" id=""
                                                        style="width:200px;" formControlName="password">
                                                </div>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td style="border: none;">Jenis Kelamin <br>
                                                <div class="form-group radio" style="margin-left:6%;">
                                                    <input type="radio" value="">Laki -Laki
                                                    <input type="radio" value="" style="margin-left: 6px;"><label
                                                        for="">perempuan</label>
                                                </div>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td style="border: none;">Agama <br>
                                                <div class="form-group">
                                                    <input type="radio" value="">Islam
                                                    <input type="radio" value="">Kristen <br><br>
                                                    <input type="radio" value="">Hindu
                                                    <input type="radio" value="">Budha <br><br>
                                                    <input type="radio" value="">Konghucu
                                                    <input type="radio" value="">Lainnya

                                                </div>
                                            </td>
                                            <td style="border: none;">
                                                <div>

                                                    <button type="submit" class="btn btn-primary" style="background: linear-gradient(135deg, #000044 0%, #004E92 100%);width:90px;
box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.2);
border-radius: 32px;" onclick="return confirm('data berhasil di tambahkan');">Daftar</button>
                                                    <button type="submit" class="btn btn-danger"
                                                        style="background: linear-gradient(135deg, #EB3349 0%, #F45C43 100%);opacity: 0.85;box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.2); margin-left: 30px;border-radius: 32px; width:90px;"
                                                        [routerLink]="['/','Landing']">Batal</button><br>
                                                    <p style="margin-left: 50px;">sudah punya akun ?<a
                                                            [routerLink]="['/','Login']">Masuk</a></p>

                                                </div>
                                            </td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>




            </form>
        </div>
    </div>




</body>

</html>