    <!DOCTYPE html>
    <html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Riwayat Pengaduan</title>


    </head>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="assets/Pengadu1/Image/Logo1.png"
                            class="mr-2" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/Pengadu1/Image/Logo1.png"
                            alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
                    style="background: linear-gradient(315deg, #000044 0%, #004E92 100%);">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                    <ul class="navbar-nav mr-lg-2">
                        <li class="nav-item nav-search d-none d-lg-block">

                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown">

                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                aria-labelledby="notificationDropdown">
                                <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-success">
                                            <i class="ti-info-alt mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            Just now
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-warning">
                                            <i class="ti-settings mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Settings</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            Private message
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-info">
                                            <i class="ti-user mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            2 days ago
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            
                            
                                <div class="bullet" style="height:60px; width:60px; border-radius:180px;background:white; margin-top:65px;">
                            
                                </div>
                                <img src="assets/images1/faces/face8.jpg" style="width: 50px; height:50px; margin-top:60px; margin-left:-55px;"
                                    alt="profile" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                                aria-labelledby="profileDropdown">
                                <a class="dropdown-item">
                                    <i class="ti-settings text-primary"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item">
                                    <i class="ti-power-off text-primary"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                        <span class="icon-menu"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_settings-panel.html -->
                <div class="theme-setting-wrapper">
                    <div id="settings-trigger"><i class="ti-settings"></i></div>
                    <div id="theme-settings" class="settings-panel">
                        <i class="settings-close ti-close"></i>
                        <p class="settings-heading">SIDEBAR SKINS</p>
                        <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                            <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
                        </div>
                        <div class="sidebar-bg-options" id="sidebar-dark-theme">
                            <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
                        </div>
                        <p class="settings-heading mt-2">HEADER SKINS</p>
                        <div class="color-tiles mx-0 px-4">
                            <div class="tiles success"></div>
                            <div class="tiles warning"></div>
                            <div class="tiles danger"></div>
                            <div class="tiles info"></div>
                            <div class="tiles dark"></div>
                            <div class="tiles default"></div>
                        </div>
                    </div>
                </div>
                <div id="right-sidebar" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
                                aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab"
                                aria-controls="chats-section">CHATS</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="setting-content">
                        <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
                            aria-labelledby="todo-section">
                            <div class="add-items d-flex px-3 mb-0">
                                <form class="form w-100">
                                    <div class="form-group d-flex">
                                        <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                                        <button type="submit" class="add btn btn-primary todo-list-add-btn"
                                            id="add-task">Add</button>
                                    </div>
                                </form>
                            </div>
                            <div class="list-wrapper px-3">
                                <ul class="d-flex flex-column-reverse todo-list">
                                    <li>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox">
                                                Team review meeting at 3.00 PM
                                            </label>
                                        </div>
                                        <i class="remove ti-close"></i>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox">
                                                Prepare for presentation
                                            </label>
                                        </div>
                                        <i class="remove ti-close"></i>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox">
                                                Resolve all the low priority tickets due today
                                            </label>
                                        </div>
                                        <i class="remove ti-close"></i>
                                    </li>
                                    <li class="completed">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox" checked>
                                                Schedule meeting for next week
                                            </label>
                                        </div>
                                        <i class="remove ti-close"></i>
                                    </li>
                                    <li class="completed">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox" checked>
                                                Project review
                                            </label>
                                        </div>
                                        <i class="remove ti-close"></i>
                                    </li>
                                </ul>
                            </div>
                            <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
                            <div class="events pt-4 px-3">
                                <div class="wrapper d-flex mb-2">
                                    <i class="ti-control-record text-primary mr-2"></i>
                                    <span>Feb 11 2018</span>
                                </div>
                                <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
                                <p class="text-gray mb-0">The total number of sessions</p>
                            </div>
                            <div class="events pt-4 px-3">
                                <div class="wrapper d-flex mb-2">
                                    <i class="ti-control-record text-primary mr-2"></i>
                                    <span>Feb 7 2018</span>
                                </div>
                                <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                                <p class="text-gray mb-0 ">Call Sarah Graves</p>
                            </div>
                        </div>
                        <!-- To do section tab ends -->
                        <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
                            <div class="d-flex align-items-center justify-content-between border-bottom">
                                <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
                                <small
                                    class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See
                                    All</small>
                            </div>
                            <ul class="chat-list">
                                <li class="list active">
                                    <div class="profile"><img src="assets/images1/faces/face1.jpg" alt="image"><span
                                            class="online"></span></div>
                                    <div class="info">
                                        <p>Thomas Douglas</p>
                                        <p>Available</p>
                                    </div>
                                    <small class="text-muted my-auto">19 min</small>
                                </li>
                                <li class="list">
                                    <div class="profile"><img src="assets/images1/faces/face2.jpg" alt="image"><span
                                            class="offline"></span></div>
                                    <div class="info">
                                        <div class="wrapper d-flex">
                                            <p>Catherine</p>
                                        </div>
                                        <p>Away</p>
                                    </div>
                                    <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                                    <small class="text-muted my-auto">23 min</small>
                                </li>
                                <li class="list">
                                    <div class="profile"><img src="assets/images1/faces/face3.jpg" alt="image"><span
                                            class="online"></span></div>
                                    <div class="info">
                                        <p>Daniel Russell</p>
                                        <p>Available</p>
                                    </div>
                                    <small class="text-muted my-auto">14 min</small>
                                </li>
                                <li class="list">
                                    <div class="profile"><img src="assets/images1/faces/face4.jpg" alt="image"><span
                                            class="offline"></span></div>
                                    <div class="info">
                                        <p>James Richardson</p>
                                        <p>Away</p>
                                    </div>
                                    <small class="text-muted my-auto">2 min</small>
                                </li>
                                <li class="list">
                                    <div class="profile"><img src="assets/images1/faces/face5.jpg" alt="image"><span
                                            class="online"></span></div>
                                    <div class="info">
                                        <p>Madeline Kennedy</p>
                                        <p>Available</p>
                                    </div>
                                    <small class="text-muted my-auto">5 min</small>
                                </li>
                                <li class="list">
                                    <div class="profile"><img src="assets/images1/faces/face6.jpg" alt="image"><span
                                            class="online"></span></div>
                                    <div class="info">
                                        <p>Sarah Graves</p>
                                        <p>Available</p>
                                    </div>
                                    <small class="text-muted my-auto">47 min</small>
                                </li>
                            </ul>
                        </div>
                        <!-- chat tab ends -->
                    </div>
                </div>
                <!-- partial -->
                <!-- partial:partials/_sidebar.html -->
                <nav class="sidebar sidebar-offcanvas" id="sidebar"  style="margin-top: -60px;">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="background-color: white; outline:white;">
                                <i class="icon-grid menu-icon"></i>
                                <span class="menu-title" style="color: black;">Laporan Saya</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                                aria-controls="ui-basic">
                                <i class="icon-layout menu-icon"></i>
                                <span class="menu-title">Data Pengaduan</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ui-basic">
                                <ul class="nav flex-column sub-menu" style="background-color: transparent;">
                                    <li class="nav-item"> <a class="nav-link" href="index.php"
                                            style="color: black;">Pengadu</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="halaman_korban.php"
                                            style="color: black;">Korban</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="pelaku.php"
                                            style="color: black;">Pelaku</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/','riwayatpengaduan']">
                                <i class="icon-paper menu-icon"></i>
                                <span class="menu-title">Riwayat Pengaduan</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="background-color: white; outline:white;">
                                <i class="icon-grid menu-icon"></i>
                                <span class="menu-title" style="color: black;">Opsi</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/','pengaturan']">
                                <i class="icon-paper menu-icon"></i>
                                <span class="menu-title">Pengaturan</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="return confirm('Anda Telah Keluar Aplkasi');" [routerLink]="['/','Login']">
                                <i class="icon-paper menu-icon"></i>
                                <span class="menu-title">Keluar</span>
                            </a>
                        </li>





                    </ul>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper" style="background-color:white;">
    <div>
        <button type="button" class="btn btn-info" style="background: linear-gradient(135deg, #000044 0%, #004E92 100%);box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.2); border-radius: 32px; margin-top:-120px;"><a href="" style="color: white;" [routerLink]="['/','pengaduanform']">Tambah</a></button>
    </div>



                        <div class="row">
                            <div class="col-md-12 grid-margin stretch-card">
                                
                                <div class="card">
                                    <div class="col-md-12 grid-margin stretch-card" style="margin-top: -40px;height:50px; background: linear-gradient(116.5deg, #00CDAC 100%, #02AAB0 100%); border-radius:8px 8px 0px 0px;">
                                        <h6 style="margin-top: 20px;margin-left:20px;">ID Pengaduan</h6>
                                        <h6 style="margin-left: 150px;margin-top: 20px">Nama Pengadu</h6>
                                            <h6 style="margin-left: 150px; margin-top: 20px">Opsi</h6>
                                            <h6 style="margin-left: 150px; margin-top: 20px">Aksi</h6>
                                    </div>
                                    <div class="card-body" style="background: #F0F0F4; margin-top:10px;">

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="table-responsive">
                                                    <table class="display expandable-table" style="width:100%;">
                                                        <thead >
                                                        
                                                            <tr>
                                                                <td style="width:200px;">a1</td>
                                                                <td style="width:200px;">a2</td>
                                                                <td>
                                                                    <a class="btn btn-primary" data-toggle="modal"
                                                                        href='#modal-id' style="background: linear-gradient(135deg, #C8E97C 0%, #5FB828 7.66%);box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.2);border-radius: 32px;border:none;width:120px;">edit</a>
                                                                    <div class="modal fade" id="modal-id">
                                                                        <div class="modal-dialog" style="width: 283px;">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header"
                                                                                    style="background:linear-gradient(135deg, #C8E97C 0%, #5FB828 100%); height:100px;">

                                                                                    <h5 class="modal-title"
                                                                                        style="color:white; margin-left:-70px;">Status
                                                                                        Pengaduan</h5>
                                                                                        <h5 style="color:white; margin-top:50px; margin-left:-220px; border-radius:50px;">P001</h5>
                                                                                </div>
                                                                                <div class="modal-body" style="margin-left: 20px;">
    <div class="box2" style="height:150px;width:3px; background:grey;margin-top:20px;">

    </div>
    <div class="elips" style="margin-top:-100px;">

    <img src="assets/gambar/el1.png" class="img-responsive" alt="Image" style="width:15px;height:15px; margin-top:-100px;margin-left:-6px;">
<label for="" style="">Di Terima / Di Tolak</label>
    </div>
    <div class="elips2">
    
        <img src="assets/gambar/el1.png" class="img-responsive" alt="Image"
            style="width:15px;height:15px; margin-top:15px;margin-left:-6px;">
        <label for="">Sedang Di Periska</label>
    </div>
    <div class="elips2">
    
        <img src="assets/gambar/el1.png" class="img-responsive" alt="Image"
            style="width:15px;height:15px; margin-top:15px;margin-left:-6px;">
        <label for="">Sedang Di Periska</label>
    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div><br>
                                                                        <button type="button" class="btn btn-info" style="background: linear-gradient(135deg, #2193B0 92.31%, #6DD5ED 100%); width:120px;
    box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 32px;"><a [routerLink]="['/','tanggapan']" style="color: white;">Tanggapan</a></button>
                                                                    </div>

                                                                

                                                                </td>
                                                                <td>
                                                                    <a href="" [routerLink]="['/','editpengadu']">
                                                                    <img src="assets/gambar/ss1.png" class="img-responsive" alt="Image" style="width:30px;">
                                                                    </a><br>
                                                                                <a href=""><img src="assets/gambar/ss2.png" class="img-responsive" alt="Image" style="width:30px;"></a>
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row">



                        </div>
                    </div>




                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->

            <!-- partial -->
        </div>
    
        <!-- End custom js for this page-->
    </body>

    </html>