
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sispandu | Landing Page</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
    </style>
    <meta content="" name="description">
    <meta content="" name="keywords">






</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top " style="background-color: transparent;">
        <div class="container d-flex align-items-center">


            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="#" class="logo me-auto">
                <img src="assets/Pengadu/Image/Logo1.png" alt="" class="img-fluid"
                    style="float:left; margin-left:-20px;">
                <img src="assets/Pengadu/Layout image/Texture.png" alt="" class="img-fluid" style="float:left; margin-left:-20px;"></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="getstarted scrollto" [routerLink]="['/','Register']"
                            style="color: #000044;">Daftar</a></li><br><br><br>
                            
                          
                    <li><a class="getstarted scrollto" [routerLink]="['/','Login']"
                            style="background: linear-gradient(135deg, #000044 0%, #004E92 100%); border-radius:32px;">Login</a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                    data-aos="fade-up" data-aos-delay="200" style="margin-top: 120px;">

                    <h1
                        style="font-family: 'Clash Display', sans-serif; font-size: 40px; font-weight: 600; color: #000044;">
                        Jangan Takut Mengadu !</h1>
                    <div class="box"
                        style="width:300px; height:35px;background: linear-gradient(135deg, rgba(194, 233, 251, 0.6) 0%, rgba(161, 196, 253, 0.6) 100%); border-radius:16px;">
                        <p
                            style="font-family: 'Mulish', sans-serif; font-size: 11px; font-weight: 300; color: #000044;margin-left: 10px; font-style:bold; margin-top:10px;">
                            Laporkan segala jenis tindak kajahatan terhadap anak</p>
                    </div>
                    <div class="box2"
                        style="width:4px; height :85px;background: linear-gradient(135deg, rgba(194, 233, 251, 0.6) 0%, rgba(161, 196, 253, 0.6) 100%); border-radius:16px; margin-top: 60px;margin-bottom:-40px;">
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                        <img src="assets/Pengadu/layout image/Bersama SISPANDU Lindungi Generasi Untuk Indonesia Lebih Baik.png"
                            class="img-fluid animated" alt="" style="margin-top: -40px; margin-left:10px;">
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">

                        <img src="assets/Pengadu/layout image/First On Top.png" class="img-fluid animated" alt=""
                            style="margin-top: 140px; margin-left:10px; width:150px;">
                        <img src="assets/Pengadu/layout image/5JT+ Lainnya telah melapor.png" class="img-fluid animated"
                            alt="" style="margin-top: -70px; margin-left:170px; width:140px;">
                    </div>

                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="assets/Pengadu/layout image/poster.png" class="img-fluid animated" alt=""
                        style="margin-top: 130px; margin-left:10px;">
                </div>
            </div>







        </div>


    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Cliens Section ======= -->




        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <img src="assets/Pengadu/layout image/misi.png" class="img-fluid animated" alt=""
                        style="margin-top: 50px; margin-left:10px;">
                </div>



                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="assets/Pengadu/Image/Logo3.png" class="img-fluid" alt="">
                        </div>
                      
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">

                       
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="assets/Pengadu/Icon/ss.jpg" class="img-fluid" alt=""></div>
                       
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">

                        
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">

                        
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"></div>
                     
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">

                      
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">

                       
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"></div>
                       
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Team Section ======= -->

        <!-- ======= Pricing Section ======= -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">

                </div>
            </div>
        </div>




    </footer><!-- End Footer -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->


</body>

</html>
