<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Halaman Pengaduan</title>
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>


    <!-- endinject -->
    <!-- Plugin css for this page -->
    <style>
        .image_upload>input {
            display: none;
        }
    </style>

</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="assets/Pengadu/Image/Logo1.png"
                        class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/Pengadu/Image/Logo1.png"
                        alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
                style="background: linear-gradient(315deg, #000044 0%, #004E92 100%);">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">

                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">

                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">


                            <div class="bullet" style="height:60px; width:60px;margin-top:95px;">

                            </div>


                            <img src="assets/gambar/v.png" class="img-responsive" alt="Image"
                                style="width:20px;height:20px;margin-right:20px;">


                            <img src="assets/images1/faces/face8.jpg"
                                style="width: 40px; height:40px; margin-top:2px; margin-right:750px;" alt="profile" />
                        </a>

                    </li>

                </ul>

            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->


            <div id="right-sidebar" class="settings-panel">


                <div class="tab-content" id="setting-content">
                    <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
                        aria-labelledby="todo-section">






                    </div>
                    <!-- To do section tab ends -->
                    <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">

                        <ul class="chat-list">





                        </ul>
                    </div>
                    <!-- chat tab ends -->
                </div>
            </div>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar" style="margin-top: -60px;">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="background-color: white; outline:white;">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title" style="color: black;">Tanggapan</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="riwayat_pengaduan.php">
                            <i class="icon-paper menu-icon"></i>
                            <span class="menu-title">P001<br>Asep Hidayat</span>
                        </a>
                    </li>








                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">




                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                    <div class="col-md-12 grid-margin ">
                                        <div class="box"
                                            style="width:400px; height:80px; background-color: white;border-radius:16px;">
                                            Halo! sahabat SISPANDU, pengaduan kamu telah masuk. <br>Ada beberapa data
                                            yang belum terisi, lengkapi data sekarang juga
                                        </div>
                                        <div class="box" style="width:200px; height:30px; background: linear-gradient(135deg, rgba(194, 233, 251, 0.5) 0%, rgba(161, 196, 253, 0.5) 100%);
border-radius: 16px;margin-left:500px;">
                                            Baik, akan saya lengkapi
                                        </div>

                                        <div class="box"
                                            style="width:400px; height:40px; background-color: white;border-radius:16px;">
                                            Coba ceritakan kronologisnya dengan jelas
                                        </div>


                                        <form action="" role="form" style="margin-top: 500px;">


                                            <div class="input-group">
                                                <input type="text" class="form-control" id="exampleInputAmount"
                                                    placeholder="Ketik Tanggapan" style="border-radius: 15px;">
                                                <span class="input-group-btn">
                                                    <a href=""><img src="assets/Pengadu1/Icon/send.png"
                                                            class="img-responsive" alt="Image"
                                                            style="margin-left: 5px; height:30px;margin-top:-5px;width:1000px;"></a>


                                                </span>
                                            </div>




                                        </form>





















                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>






</body>

</html>